services:
  - type: web
    name: music-backend
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    packages:
      - ffmpeg
